@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    margin: 0;
    background-color: #ba181b;
}

.body__homepage {
    display: block;
    margin: 0;
    background-color: #ba181b;
    overflow: hidden;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    box-sizing: border-box;
    text-align: center;

}

.main {
    background-image: url(SauceShots_Cover.jpg);
    background-size: cover;
    background-position: center;
    background-color: red;
    background-blend-mode: multiply;

    height: 60rem;
    margin: 0;
}
.main__content > h2{ 
    font-size: 4rem;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

    position: absolute;
    top: 50%;
    left: 60px;
    right: 60px;
}
.main__content--nav > a{ 
    font-size: 1.5rem;
    margin: auto 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;

}
h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white; 
    font-weight: lighter;
}
.main__videography{}